<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="PeterO.Numbers" targetFramework="net40" version="1.7.1" />
  <package id="StyleCop.Analyzers" version="1.2.0-beta.164" targetFramework="net40" developmentDependency="true" />
  <package id="StyleCop.Analyzers.Unstable" version="1.2.0.164" targetFramework="net40" developmentDependency="true" />
</packages>
