<?xml version='1.0' encoding='UTF-8'?>
<packages>
  <package id='PeterO.Numbers' targetFramework='net40' version='1.5.1'/>
  <package id='StyleCop.Analyzers' version='1.1.118' targetFramework='net40' developmentDependency='true'>
  </package>
  <package id='Microsoft.CodeAnalysis.FxCopAnalyzers' version='2.9.8' targetFramework='net40' developmentDependency='true'>
  </package>
</packages>
