<?xml version='1.0' encoding='UTF-8'?>
<RuleSet Description='Code analysis rules for PeterO projects.' Name='Rules for PeterO projects' ToolsVersion='14.0'>
  <Rules AnalyzerId='Microsoft.CodeAnalysis.FxCopAnalyzers' RuleNamespace='Microsoft.CodeAnalysis.FxCopAnalyzers'>
    <Rule Action='None' Id='CA1720'/>
    <Rule Id='CA1303' Action='None'/>
    <!--"Modify X to call Y(Uri) rather than Y(String)" rule disabled -->
    <Rule Action='None' Id='CA2234'/>
    <!--Return value of Uri methods rule disabled; these are often breaking changes -->
    <Rule Action='None' Id='CA1055'/>
    <Rule Id='CA1200' Action='None'/>
  </Rules>
  <Rules AnalyzerId='StyleCop.Analyzers' RuleNamespace='StyleCop.Analyzers'>
    <!--SA1009 disabled for now due to bug with cref attributes that end in closing parenthesis -->
    <Rule Action='None' Id='SA1009'/>
    <Rule Action='None' Id='SA1116'/>
    <!--SA1121 disabled because writing String.IsNullOrEmpty, Int32.Parse, etc. is
  part of the code style -->
    <Rule Action='None' Id='SA1121'/>
    <!--SA1124 is DoNotUseRegions-->
    <Rule Action='None' Id='SA1124'/>
    <!--"... where T : ..." rule disabled -->
    <Rule Action='None' Id='SA1127'/>
    <Rule Action='None' Id='SA1128'/>
    <Rule Action='None' Id='SA1200'/>
    <Rule Action='None' Id='SA1201'/>
    <Rule Action='None' Id='SA1202'/>
    <Rule Action='None' Id='SA1204'/>
    <!--Disabled because of BOM check -->
    <Rule Action='None' Id='SA1412'/>
    <Rule Action='None' Id='SA1500'/>
    <!-- SA1513, closing brace not followed by blank line, is disabled -->
    <Rule Action='None' Id='SA1513'/>
    <Rule Action='None' Id='SA1515'/>
    <Rule Action='None' Id='SA1516'/>
    <Rule Action='None' Id='SA1601'/>
    <Rule Action='None' Id='SA1633'/>
    <Rule Action='None' Id='SX1101'/>
    <Rule Action='None' Id='SX1309'/>
    <Rule Action='None' Id='SX1309S'/>
  </Rules>
</RuleSet>
