bin/
obj/
.settings/
packages/
Help/
*.user
*.nupkg
*.versionsBackup
*.sdsettings
TestResults/
CBORTest/bin/
CBORTest/obj/
CBORTest/OpenCover/
*.Cache
js/*.ht*
js/DecTest.*
ProfilingSessions/
CBORTest/ProfilingSessions/
.project
.classpath
release.properties
*.shf*
*.Settings
*.class
*.suo
*.log
.pmd
target/
