*.Cache
*.Settings
*.bat
*.cache
*.class
*.jar
*.log
*.map
*.nupkg
*.pyc
*.sdsettings
*.shf*
*.suo
*.user
*.userprefs
*.versionsBackup
*.vspx
.classpath
.nuget/
.pmd
.project
.settings/
.vs/
CBORTest/OpenCover/
CBORTest/ProfilingSessions/
CBORTest/bin/
CBORTest/obj/
Help/
ProfilingSessions/
TestResults/
bin/
coverage/
encoding/
encodingfldr/
obj/
packages/
release.properties
target/
