bin/
obj/
.settings/
packages/
Help/
*.user
*.nupkg
TestResults/
CBORTest/bin/
CBORTest/obj/
CBORTest/OpenCover/
*.Cache
js/*.ht*
js/DecTest.*
ProfilingSessions/
CBORTest/ProfilingSessions/
.project
.classpath
*.shf*
*.Settings
*.class
*.suo
*.properties
*.log
.pmd
/target
