* text=auto
*.cs eol=lf
*.java eol=lf
*.js eol=lf
*.rb eol=lf
*.py eol=lf
*.php eol=lf
*.c eol=lf
*.h eol=lf
*.cc eol=lf
*.hh eol=lf
*.cpp eol=lf
*.cxx eol=lf
*.md eol=lf
*.sln eol=lf
*.config eol=lf
*.csproj eol=lf
*.vbproj eol=lf
*.fsproj eol=lf
*.dbproj eol=lf
*.nuspec eol=lf
*.html eol=lf
*.htm eol=lf
.gitattributes eol=lf
.gitignore eol=lf
.npmignore eol=lf
*.cs diff=csharp
*.sln merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union
