* text=auto
*.cs eol=lf
*.java eol=lf
*.js eol=lf
*.rb eol=lf
*.py eol=lf
*.php eol=lf
*.c eol=lf
*.h eol=lf
*.cc eol=lf
*.gitignore eol=lf
*.gitattributes eol=lf
*.md eol=lf
*.sln eol=lf
*.html eol=lf
*.cpp eol=lf
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union
