<?xml version='1.0' encoding='UTF-8'?>
<packages>
  <package id='Microsoft.CodeAnalysis.NetAnalyzers' version='5.0.0' targetFramework='net40' developmentDependency='true'/>
  <package id='Microsoft.CodeAnalysis.VersionCheckAnalyzer' version='3.3.2' targetFramework='net40' developmentDependency='true'/>
  <package id='Microsoft.CodeQuality.Analyzers' version='3.3.2' targetFramework='net40' developmentDependency='true'/>
  <package id='Microsoft.NetCore.Analyzers' version='3.3.2' targetFramework='net40' developmentDependency='true'/>
  <package id='Microsoft.NetFramework.Analyzers' version='3.3.2' targetFramework='net40' developmentDependency='true'/>
  <package id='NUnit' targetFramework='net40' version='3.12.0'/>
  <package id='PeterO.Numbers' targetFramework='net40' version='1.7.4'/>
  <package id='StyleCop.Analyzers' version='1.2.0-beta.333' targetFramework='net40' developmentDependency='true'/>
  <package id='StyleCop.Analyzers.Unstable' version='1.2.0.333' targetFramework='net40' developmentDependency='true'/>
  <package id='Microsoft.CodeAnalysis.NetAnalyzers' version='5.0.0' targetFramework='net40' developmentDependency='true'>
  </package>
</packages>
