<?xml version='1.0' encoding='UTF-8'?>
<packages>
  <package id='PeterO.Numbers' targetFramework='net20' version='1.6.0'/>
  <package id='StyleCop.Analyzers' version='1.2.0-beta.164' targetFramework='net20' developmentDependency='true'>
  </package>
  <package id='Microsoft.CodeAnalysis.FxCopAnalyzers' version='3.0.0-beta3.final' targetFramework='net20' developmentDependency='true'>
  </package>
</packages>
